body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}

p {
    color: #ffffff;
}

#button {
    border-radius: 20px;
}

#img {
    margin-top: 10px;
    width: 400px;
    height: auto;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}