<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MYTODOLIST - Edit Profile</title>
    <link rel="shortcut icon" href="../assets/img/todolist.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/editdatausers.css">
  </head>

  <body>
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <img src="../assets/img/MYTODOLIST.png" alt="Logo">
          <form>
            <!-- <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="text" placeholder="Input Your First Name" autocomplete="First Name" required />
              </div>
            </div>
            <div class="field">
                <div class="control">
                  <input class="input is-medium is-rounded" type="text" placeholder="Input Your Last Name" autocomplete="Last Name" required />
                </div>
              </div> -->
            <div class="field">
                <div class="control">
                  <input class="input is-medium is-rounded" type="text" placeholder="Input Your Username" autocomplete="username" required />
                </div>
              </div>
              <!-- <div class="field">
                <div class="control">
                  <input class="input is-medium is-rounded" type="text" placeholder="Input New Username" autocomplete="username" required />
                </div>
              </div>   -->
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="email" placeholder="Input Your Email" autocomplete="email" required />
              </div>
            </div>
            <!-- <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="email" placeholder="Input New Email" autocomplete="email" required />
              </div>
            </div> -->
            <!-- <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="password" placeholder="Create New Password" autocomplete="current-password" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="password" placeholder="Confirm New Password" autocomplete="current-password" required />
              </div>
            </div> -->
            <br />
            <button class="button is-block is-fullwidth is-success is-medium is-rounded" type="submit">
              Confirm
            </button>
          </form>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="profile.html" style="color: rgb(244, 244, 249);">Cancel Editing?</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
  </body>

</html>