<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MYTODOLIST - Landing</title>
    <link rel="shortcut icon" href="../assets/img/todolist.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/landing.css">

    <script async type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.6/dashboard.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.6/auth/redirect.js"></script>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="../assets/img/MYTODOLIST.png" alt="Logo" width="150" height="200">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu" style="color: white;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <!-- <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-link" href="index.html">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-primary" href="profile.html">
                                    <span class="icon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#" id="button">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Logout</span>
                                </a>
                            </span> -->
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documentation</span>
                                </a>
                            </span> -->
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span> -->
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body is-fullheight">
                <div class="container">
                    <div class="columns">
                        <div class="column is-2 ">
                            <aside class="is-large menu ">
                                <!-- <p class="menu-label">
                                    General
                                </p>
                                <ul class="menu-list">
                                    <li><a class="is-active">Dashboard</a></li>
                                    <li><a>Customers</a></li>
                                    <li><a>Other</a></li>
                                </ul> -->
                                <p class="menu-label">
                                    categories
                                  </p>
                                  <ul class="menu-list">
                                    <li class="is-right"><a href="index.html" class="is-active"><i class="fa fa-home"></i> Home</a></li>
                                    <li><a href="profile.html" class="is-active"><i class="fa fa-user-circle"></i> Profile</a></li>
                                    <li><a href="#" class="is-active" type="button" id="button"><i class="fa fa-superpowers"></i> Logout</a></li>
                                  </ul>
                                    <!-- <li>
                                        <a>Manage Your Team</a>
                                        <ul>
                                            <li><a>Members</a></li>
                                            <li><a>Plugins</a></li>
                                            <li><a>Add a member</a></li>
                                            <li><a>Remove a member</a></li>
                                        </ul>
                                    </li>
                                    <li><a>Invitations</a></li>
                                    <li><a>Cloud Storage Environment Settings</a></li>
                                    <li><a>Authentication</a></li>
                                    <li><a>Payments</a></li>
                                </ul>
                                <p class="menu-label">
                                    Transactions
                                </p>
                                <ul class="menu-list">
                                    <li><a>Payments</a></li>
                                    <li><a>Transfers</a></li>
                                    <li><a>Balance</a></li>
                                    <li><a>Reports</a></li> -->
                                </ul>
                            </aside>
                        </div>
                        <div class="column is-16">
                            <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="../">Bulma</a></li>
                                    <li><a href="../">Templates</a></li>
                                    <li><a href="../">Examples</a></li>
                                    <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
                                </ul>
                            </nav> -->
                            <section class="hero is-info welcome is-small">
                                <div class="hero-body is-16">
                                    <div class="container">
                                        <h1 class="title">
                                            Hello User !
                                        </h1>
                                        <h2 class="subtitle">
                                            I hope you are having a great day!
                                        </h2>
                                    </div>
                                </div>
                                <section class="hero is-info is-right">
                                    <div class="card-table">
                                        <div class="content">
                                            <table class="table is-fullwidth is-striped">
                                                <tr>
                                                  <input type="text" id="datepicker" placeholder="Select Date">
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </section>
                            
                            <section class="info-tiles">
                                <!-- <div class="tile is-ancestor has-text-centered">
                                    <div class="tile is-parent">
                                        <article class="tile is-child box">
                                            <p class="title">439k</p>
                                            <p class="subtitle">Users</p>
                                        </article>
                                    </div>
                                    <div class="tile is-parent">
                                        <article class="tile is-child box">
                                            <p class="title">59k</p>
                                            <p class="subtitle">Products</p>
                                        </article>
                                    </div>
                                    <div class="tile is-parent">
                                        <article class="tile is-child box">
                                            <p class="title">3.4k</p>
                                            <p class="subtitle">Open Orders</p>
                                        </article>
                                    </div>
                                    <div class="tile is-parent">
                                        <article class="tile is-child box">
                                            <p class="title">19</p>
                                            <p class="subtitle">Exceptions</p>
                                        </article>
                                    </div>
                                </div> -->
                            </section>
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="card events-card">
                                        <header class="card-header">
                                            <p class="card-header-title">
                                                Your Shcedule
                                            </p>
                                            <a href="#" class="card-header-icon" aria-label="more options">
                              <span class="icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                                        </header>
                                        <div class="card-table">
                                            <div class="content">
                                                <table class="table is-fullwidth is-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                            <td>Lorum ipsum dolem aire</td>
                                                            <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- <footer class="card-footer">
                                            <a href="#" class="card-footer-item">View All</a>
                                        </footer> -->
                                    </div>
                                </div>


                                <!-- <div class="column is-6">
                                    <div class="card">
                                        <header class="card-header">
                                            <p class="card-header-title">
                                                Inpur Your List
                                            </p>
                                            <a href="#" class="card-header-icon" aria-label="more options">
                              <span class="icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                                        </header>
                                        <div class="card-content">
                                            <div class="content">
                                                <div class="control has-icons-left has-icons-right">
                                                    <input class="input is-large" type="text" placeholder="">
                                                    <span class="icon is-medium is-left">
                                  <i class="fa fa-search"></i>
                                </span>
                                                    <span class="icon is-medium is-right">
                                  <i class="fa fa-check"></i>
                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="card">
                                        <header class="card-header">
                                            <p class="card-header-title">
                                                User Search
                                            </p>
                                            <a href="#" class="card-header-icon" aria-label="more options">
                              <span class="icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                                        </header>
                                        <div class="card-content">
                                            <div class="content">
                                                <div class="control has-icons-left has-icons-right">
                                                    <input class="input is-large" type="text" placeholder="">
                                                    <span class="icon is-medium is-left">
                                  <i class="fa fa-search"></i>
                                </span>
                                                    <span class="icon is-medium is-right">
                                  <i class="fa fa-check"></i>
                                </span>
                                                </div> -->
                                            <!-- </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->



                <!-- <div class="container has-text-centered"> -->
                    <br>
                    <div class="columns">
                        <div class="column is-16">
                          <div class="box">
                            <div class="field">
                              <label class="label">Name of Your Agenda</label>
                              <div class="control">
                                <input class="input" type="text" placeholder="Text input">
                              </div>
                            </div>
                
                            <!-- <div class="field">
                              <label class="label">Email</label>
                              <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Email input" value="">
                                <span class="icon is-small is-left">
                                  <i class="fas fa-envelope"></i>
                                </span>
                              </div>
                            </div> -->
                
                            <div class="field">
                              <label class="label">To Do List</label>
                              <div class="control">
                                <textarea class="textarea" placeholder="Textarea"></textarea>
                              </div>
                            </div>
                
                            <div class="field is-grouped has-text-centered">
                              <div class="control">
                                <button class="button is-success is-large">
                                  <!-- <span class="icon">
                                    <i class="fa fa-marker"></i>
                                  </span> -->
                                  <span>Submit</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                <!-- </div> -->
            </div>

    </section>
    <script type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.6/auth/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
</body>

</html>