<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MYTODOLIST - Landing</title>
    <link rel="shortcut icon" href="../assets/img/todolist.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/landing.css">

    <!-- Sertakan file Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <!-- Sertakan file Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>

    <script async type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.7/dashboard.js"></script>
    <!-- <script type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.7/auth/redirect.js"></script> -->
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="../assets/img/MYTODOLIST.png" alt="Logo" width="150" height="200">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu" style="color: white;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body is-fullheight">
                <div class="container">
                    <div class="columns">
                        <div class="column is-2 ">
                            <aside class="is-large menu ">
                                <p class="menu-label">
                                    categories
                                  </p>
                                  <ul class="menu-list">
                                    <li class="is-right"><a href="../index.html" class="is-active"><i class="fa fa-home"></i> Home</a></li>
                                    <li><a href="profile.html" class="is-active"><i class="fa fa-user-circle"></i> Profile</a></li>
                                    
                                    <li><a href="#" class="is-active" type="button" id="button"><i class="fa fa-superpowers"></i> Logout</a></li>
                                  </ul>
                                </ul>
                            </aside>
                        </div>
                        <div class="column is-16">
                            <section class="hero is-info welcome is-small">
                                <div class="hero-body is-16">
                                    <div class="container">
                                        <h1 class="title">
                                            Hello User !
                                        </h1>
                                        <h2 class="subtitle">
                                            I hope you are having a great day!
                                        </h2>
                                    </div>
                                </div>
                            </section>
                    <br>
                    <div class="columns">
                        <div class="column is-16">
                          <div class="box">
                            <div class="field">
                              <label class="label">Name of Your Agenda</label>
                              <div class="control">
                                <input class="input" type="text" placeholder="Text input">
                              </div>
                            </div>

                            <div class="mb-3 row">
                              <label for="tanggal" class="col-sm-3 col-form-label">Date</label>
                              <div class="col-sm-9">
                                <input type="date" class="form-control" id="tanggal" placeholder="tanggal">
                              </div>
                            </div>
                
                            <div class="field">
                              <label class="label">To Do List</label>
                              <div class="control">
                                <textarea class="textarea" placeholder="Textarea"></textarea>
                              </div>
                            </div>
                
                            <div class="field is-grouped has-text-centered">
                              <div class="control">
                                <button class="button is-success is-large">
                                  <span>Submit</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    </section>
    <script type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.7/auth/logout.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script> -->
    <script src="../js/datepick.js"></script>
</body>

</html>