<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MYTODOLIST - Profile </title>
    <link rel="shortcut icon" href="../assets/img/todolist.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.9.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/profile.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/mytodolist1/js_todo@0.0.3/auth.js"></script>
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-20">
                    <!-- <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">Please login to proceed.</p> -->
                    <div class="box">
                        <figure class="avatar">
                            <img src="../assets/img/MYTODOLIST.png">
                        </figure>
                        <form>
                            <label class="nama">Welcome User !</label>
                            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                                <dl class="sm:divide-y sm:divide-gray-200">
                                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-sm font-medium text-gray-500">
                                            Email address
                                        </dt>
                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                            johndoe@example.com
                                        </dd>
                                    </div>
                                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-sm font-medium text-gray-500">
                                            Username
                                        </dt>
                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                            John Doe
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                    <span class="navbar-item">
                                        <a class="button is-link" href="index.html">
                                            <span class="icon">
                                                <i class="fa fa-home"></i>
                                            </span>
                                            <span>Home</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-primary" href="landing.html">
                                            <span class="icon">
                                                <i class="fa fa-paste"></i>
                                            </span>
                                            <span>To Do List</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-warning" href="editdatausers.html">
                                            <span class="icon">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                            <span>Edit</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="field"> -->
                                <!-- <label class="checkbox">
                    	            <input type="checkbox">
                                         Remember me
                                    </label> -->
                                <!-- </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button> -->
                        </form>
                    </div>
                    <!-- <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p> -->
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>