.menu-content {
    display: flex;
    align-items: center; /* Pusatkan elemen secara vertikal */
  }
  
  .is-user-avatar {
    padding-left: 10px;
    margin-right: 10px;
    flex-shrink: 0; /* Biarkan gambar mempertahankan ukuran aslinya */
  }
  
  .is-user-info {
    color: white;
    padding-left: 10px;
  }